        body {
            font-family: 'Baloo Bhai 2', cursive;
            color: aliceblue;

            margin: 0px;
            padding: 0px;
            background: url("img/GYm_man.webp");
            top: 15px;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

        .left {
            font-family: 'Baloo Bhai 2', cursive;

            display: inline-block;
            position: absolute;
            left: 34px;
            top: 20px;

        }

        .left img {
            width: 87px;

        }

        .mid {
            font-family: 'Baloo Bhai 2', cursive;
            position: absolute;
            display: block;
            top: 10px;
            width: 36%;
            margin: 20 px auto;
            left: 504px;


        }

        .right {
            position: absolute;
            right: 34px;
            top: 20px;
            display: inline-block;


        }

        .navbar li {
            color: aliceblue;
            display: inline-block;
        }

        .navbar li a {
            color: aliceblue;
            text-decoration: none;
            padding: 20px;
        }

        .navbar li a:hover,
        .navbar li a.active {
            text-decoration: underline;
            color: green;

        }

        .btn {
            font-family: 'Baloo Bhai 2', cursive;
            margin: 0px 9px;
            color: blueviolet;
            padding: 4px 12px;
            border: 2px solid gray;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: beige;
        }

        .container {
            border: 2px solid white;
            width: 38%;
            border-radius: 28px;
            margin: 190px 784px;
            padding: 65px;
        }

        .form-group input {
            font-family: 'Baloo Bhai 2', cursive;
            text-align: center;
            display: block;
            width: 444px;
            padding: 5px;
            margin: 11px auto;
            border-radius: 8px;
            border: 2px solid black;

            font-size: 15px;

        }

        .container h1 {
            text-align: center;
            color: orange;
        }

        .container button {
            display: block;
            width: 23%;
            margin: auto;
        }
    